body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}
.container {
  display: flex;
  height: 100vh;
}
.editor, .preview {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.editor, .preview {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}