*{margin:0;padding:0;box-sizing:border-box;font-family:Inter}
body{
    height:100vh;background:linear-gradient(135deg,#ff003d,#ff6e00);
    display:flex;align-items:center;justify-content:center;
}
.box{
    width:350px;padding:28px;border-radius:18px;
    background:rgba(255,255,255,0.06);
    backdrop-filter:blur(16px);
    box-shadow:0 20px 60px rgba(0,0,0,0.4);
    text-align:center;
}
.box h2{
    color:#fff;font-size:26px;font-weight:800;margin-bottom:22px;
}
.box input{
    width:100%;padding:14px;margin-top:14px;
    border-radius:12px;border:1px solid rgba(255,255,255,0.2);
    background:rgba(255,255,255,0.08);color:#fff;outline:none;
}
.box button{
    width:100%;padding:14px;margin-top:18px;
    border:none;border-radius:12px;
    background:#ff003d;color:#fff;font-weight:800;
    cursor:pointer;transition:.3s;
}
.box button:hover{
    background:#ff6e00;transform:translateY(-3px);
}
.alt{
    margin-top:14px;
    color:#fff;
    font-size:14px;
}
.alt a{
    color:#ff6e00;
    font-weight:700;
    text-decoration:none;
}
.alt a:hover{
    text-decoration:underline;
}
